body{
	background-color: rgb(10,10,30);
	color: #abcdef;
	text-align: center;
}

#container{
	margin: auto;
	width: 800px;
}

#top{
	font-family: verdana;
	font-size: 60px;
}

#content{
	margin: 5px;
}

#key{
	margin: 20px;
}

#result{
	color: crimson;
	font-size: 30px;
	line-height: 2;
}
#patchpanel{
	background-color: rgba(0,0,255,0.2);
	margin: auto;
	margin-top: 10px;
	width: 630px;
	height: 210px;
	color: black;
	transition: 0.2s ease-in;
	padding: 5px;
	border-radius: 20px;
}

#patchpanel:hover{
	background-color: rgba(0,0,255,0.5);
}

.plug{
	width: 30px;
	height: 100px;
	background-color: #abcdef;
	float:left;
	margin-right:20px;
	margin-bottom: 10px;
	text-align: center;
	line-height: 100px;
	border-radius: 15px;
	transition: 0.3s ease-out;
}
.plug:hover{
	background-color: yellow;
}
input[type=checkbox]{
	display: none;
}
label {
	display: block;
	color: black;
	font-weight: bold;
}

input[type=checkbox]:checked ~ label {
	background-color: red;
	border-radius: 5px;
}
